/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 400 to 700*/

* {
  text-align: center;
  font-family: "Domine", serif;
  font-weight: 600;
  font-style: normal;
}

/* HEADER */

/* #logo {
  font-weight: 600;
  font-size: 3rem;
  border: 2px solid black;
  display: inline;
  padding: 5px;
} */

#logo {
  font-weight: 600;
  font-size: 3rem;
  display: inline;
  padding: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  display: inline;
  margin: 20px;
}

a {
  color: black;
}

/* MAIN */
.main-img {
  width: 50%;
}

p {
  padding: 3rem;
  text-align: left;
}

/* FOOTER */
footer {
  margin-top: 4rem;
  border-top: 2px solid black;
}
