* {
  /* text-align: left; */
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* HEADER */

header {
  text-align: center;
}

#logo {
  color: rgb(82, 109, 79);
  font-family: "Domine", serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 3rem;
  display: inline-block;
  padding: 0;
  border-bottom: 4px solid rgb(82, 109, 79);
  margin: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  border-top: 1px solid rgba(200, 200, 200, 0.5);
  margin-bottom: 0;
}

li {
  display: inline;
  margin: 10px;
}

a {
  color: black;
  text-decoration: none;
}

/* MAIN */

/* Big text home page */

h1 {
  font-size: 7rem;
  font-weight: 800;
  line-height: 100%;
  display: inline;
}

#front-text {
  margin: 3rem;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

#name {
  margin-left: 0.2em;
  margin-top: 1rem;
  font-family: "Domine", serif;
  color: rgb(82, 109, 79);
}

h3 {
  font-size: 2rem;
  margin-block: 10px;
}

/* Green section home-page */

#dark-green {
  background-color: rgba(82, 109, 79, 1);
  margin-right: 35%;
}

#green-part {
  background-color: rgba(82, 109, 79, 0.5);
  color: white;

  p {
    margin: 3rem;
    padding-bottom: 3rem;
  }

  h2 {
    border-bottom: 2px solid white;
  }
}

p {
  margin-inline: 3rem;
}

h2 {
  padding-top: 2rem;
  margin-bottom: 0px;
  margin-left: 3rem;
}

/* Top-projects section */
/* #home-proj-section {
  margin-inline: 3rem;
} */
/* .home-proj-img {
  padding-right: 1rem;
  width: 25%;
} */

#home-proj-section {
  display: grid;
  grid-template-areas:
    "project project project"
    "button button button";
  margin: 3rem;
  margin-top: 1rem;
  gap: 1rem;
}
.home-proj-img {
  grid-area: project;
  width: 100%;
}

.more-button {
  grid-area: button;
  place-self: end end;
}

/* FOOTER */

footer {
  background-color: rgba(82, 109, 79, 1);
  color: white;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 5rem;
  /* border-top: 2px solid rgba(200, 200, 200, 0.5); */
  padding-bottom: 1%;
}

p {
  margin-top: 0;
}

#copyright {
  color: rgb(200, 200, 200);
}

.footer-img {
  width: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-right: 5px;
}

/* Other Pages elements */

h2 {
  font-size: 3rem;
  font-weight: bold;
}

.button {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  border: 2px solid rgba(82, 109, 79, 0.25);
  border-radius: 10px;
  background-color: rgba(82, 109, 79, 0.75);
}

.italic-font {
  font-style: italic;
}

/* change headers size and top projects 3 to 2 */
@media screen and (max-width: 880px) {
  h2 {
    font-size: 2.5rem;
    padding-top: 2rem;
  }

  #home-proj-section {
    display: grid;
    grid-template-areas:
      "project project"
      "project project"
      "button button";
  }
}

/* responsive home screen big-text  */
@media screen and (max-width: 1170px) {
  h1 {
    font-size: 6rem;
    font-weight: 700;
  }

  #front-text {
    margin: 3rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 4rem;
    font-weight: 600;
  }

  #front-text {
    margin: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 3rem;
    font-weight: 600;
  }

  #front-text {
    margin: 3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  #front-text {
    margin: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 1rem;
  }
}

/* responsive home screen green-section and top projects 2 to 1 */

@media screen and (max-width: 700px) {
  #dark-green {
    margin-right: 15%;
  }

  #home-proj-section {
    display: grid;
    grid-template-areas:
      "project"
      "project"
      "project"
      "button";
  }
  .more-button {
    grid-area: button;
    place-self: end center;
  }
}
