.details-container {
  margin: 3rem;
  display: grid;
  grid-template-areas:
    "main-img main-img main-img main-img txt"
    "main-img main-img main-img main-img txt"
    "small-img1 small-img2 small-img3 small-img4 button";
  gap: 10px;
}

.back-button {
  grid-area: button;
  place-self: end end;
}

.main-img {
  grid-area: main-img;
  width: 100%;
  filter: drop-shadow(0 0.1em 4px #bbbbbb);
}

.detail-text {
  grid-area: txt;
  margin: 0px;
  padding-left: 2rem;
  min-width: 150px;
}

/* make them in line otherwise one takes up all 4 spaces??? */
.small-img {
  grid-area: small-img1 small-img2 small-img3 small-img4;
  width: 100%;
  place-items: start center;
  filter: drop-shadow(0 0.1em 4px #bbbbbb);
}

#cover-img {
  width: 100%;
}

h2 {
  margin-top: 0;
  /*   padding-top: 0; */
}

@media screen and (max-width: 900px) {
  .details-container {
    margin: 3rem;
    grid-template-areas:
      "main-img main-img main-img main-img"
      "main-img main-img main-img main-img"
      "small-img1 small-img2 small-img3 small-img4"
      "txt txt txt txt"
      "button button button button";
    gap: 10px;
  }

  .detail-text {
    grid-area: txt;
    padding-left: 0px;
    padding-top: 1rem;
  }

  .back-button {
    grid-area: button;
    margin-top: 3rem;
    place-self: center center;
  }
}

@media screen and (max-width: 880px) {
  .details-container {
    margin-top: 2rem;
  }
}
