.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3rem;
  gap: 1.5rem;
}

/* .projects-container {
  display: grid;
  grid-template-areas:
    "project project project"
    "project project project";
} */

.project-img {
  width: 100%;
}

figure:hover {
  transform: scale(1.02);
}

figure {
  margin: 0;
}

figcaption {
  font-size: large;
  font-weight: bold;
}

@media screen and (max-width: 950px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 680px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}
